
.i {
    display: flex;
    height: 100vh;

    .i-left {
        // background-color: coral;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .i-left-wrapper {
            padding: 50px;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .i-intro {
                font-size: 30px;
                font-weight: 300;
            }

            .i-name {
                font-size: 60px;
            }

            .i-title {
                height: 50px;
                overflow: hidden;

                .i-title-wrapper {
                    height: 100%;
                    animation: move 7s ease-in-out infinite alternate;
                }

                @keyframes move {
                    25% {
                        transform: translateY(-50px);
                    }

                    50% {
                        transform: translateY(-100px);
                    }

                    75% {
                        transform: translateY(-150px);
                    }

                    100% {
                        transform: translateY(-200px);
                    }
                }

                .i-title-item {
                    height: 50px;
                    font-size: 30px;
                    font-weight:bolder;
                    color: rgb(115, 188, 115);
                    display: flex;
                    align-items: center;
                }
            }
        }

        .i-scroll {
            width: 30px;
            height: 30px;
            position: absolute;
            bottom: 20px;
        }
    }

    .i-right {
        flex: 1;
        position: relative;

        .i-bg {
            height: 100%;
            width: 100%;
            // clip-path: polygon(100% 0%, 100% 49%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
            clip-path: polygon(0 22%, 0% 100%, 19% 93%, 12% 0, 73% 54%, 91% 59%, 55% 100%, 90% 86%, 100% 100%, 100% 0%);
            
            background: rgb(115, 188, 115);
            position: absolute;
        }

        .i-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }
    }
}
@media screen and (max-width:480px){
    .i{
        flex-direction: column;

        .i-left{

            .i-left-wrapper{
                padding: 10px;
                align-items: center;
                text-align: center;
                justify-content: center;
                height: 100%;

                .i-desc{
                    display: none;
                }
        
            }
        }

    }

}